{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Create Category</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>

        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
        <a href="{{ path('cms_category') }}" class="btn btn-danger">
            Back to the list
        </a>
    {{ form_end(form) }}
{% endblock %}
