{% extends '::base.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h1>{{entity.title}}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Category: {{entity.category.name}}</div>
        <div class="panel-body">
            {{ entity.content }}
        </div>
    </div>


    <ul class="list-inline list-unstyled">
        <li>
            <a href="{{ path('cms_page') }}" class="btn btn-success">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('cms_page_edit', { 'id': entity.id }) }}" class="btn btn-success">
                Edit
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-danger'}}) }}
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
